/* Write your CSS here */
button {
  font-family: 'Bree Serif';
  font-size: 15px;
  color: #303150;
  border-radius: 8px;
  border-width: 0px;
  background-color: #f8fafc;
  height: 30px;
  margin: 6px;
  width: 200px;
  padding: 5px;
  align-self: center;
  margin-right: 30px;
}
.container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-image: radial-gradient(#2b2c49, #b5b9ff);
  height: 500px;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
